/* Write your code here. */
.letters-calculator-app {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.letters-calculator-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  height: 450px;
  width: 400px;
}
.search-input {
  width: 200px;
  font-family: 'Roboto';
  font-size: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 2px 3px green;
  background-color: transparent;
}
.letters-count-text {
  font-family: 'Roboto';
  font-size: 20px;
  color: blue;
  border: 1px solid none;
  border-radius: 5px;
  /* box-shadow: 1px 2px 3px green; */
  background-color: white;
  color: #1d976c;
  padding: 5px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
